@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    background-color: rgb(22, 22, 22);
    font-family: 'Inter',
        sans-serif;
    font-style: normal;
}

.main {
    margin: 0 5vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.main__column {
    width: 30%;
}

.name {
    font-weight: 600;
    font-size: 5rem;
    line-height: 5rem;
    color: #FFFFFF;
}

.info {
    margin-top: 4vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info-item {
    margin-bottom: 2vh;
    width: 50%;
}

.info-item .info-item__image {
    width: 30px;
    height: 30px;
}

img {
    width: 100%;
    max-width: 100%;
}

.info-item .info-item__title {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.66rem;
    color: #FFFFFF;
    opacity: 0.6;
}

.description {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.66rem;
    color: #FFFFFF;
}

.info-item__description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.title {
    margin-top: 1vh;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.66rem;
    color: #FFFFFF;
    opacity: 0.9;
}

.tech__description {
    margin-top: 1.5vh;
}

.tech__description:first-of-type {
    margin-top: 1vh;
}

.tech__bar {
    width: 100%;
    height: 0.46rem;
    background: #575454;
    border-radius: 10px;
}

.tech__progress {
    display: block;
    height: 100%;
    background: #ffffff;
    border-radius: 10px;
}

.info-article {
    margin-top: 4vh;
}

.info-article:first-of-type {
    margin-top: 0;
}

.info-article__description {
    margin-top: 2vh;
}

.info-article__list {
    margin-left: 1vw;
}

.main-image {
    position: relative;
}

.main-image img {
    border-radius: 7px;
}

.main-image__quote {
    position: absolute;
    bottom: 10%;
    margin: 0 5%;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.7rem;
    color: #FFFFFF;
    max-height: 30%;
    /*Кастомизация скролла для firefox*/
    scrollbar-color: #ffffff #cfcecc00;
    scrollbar-width: thin;
}

/*Кастомизация скролла для webkit-браузеров*/
.scroll-block {
    overflow-y: auto;
}

.scroll-block::-webkit-scrollbar-track {
    border-radius: 4px;
    border: 0.5px solid #FFFFFF;
}

.scroll-block::-webkit-scrollbar {
    width: 6px;
}

.scroll-block::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #ffffff;
}

@media screen and (max-width: 1500px) {
    .name {
        font-size: 3.5rem;
        line-height: 3.5rem;
        color: #FFFFFF;
    }
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 12px;
    }

    .name {
        font-size: 4rem;
        line-height: 4rem;
        color: #FFFFFF;
    }
}

@media screen and (max-width: 991px) {
    html {
        font-size: 12px;
    }

    .name {
        font-size: 3rem;
        line-height: 3rem;
    }

    .main-image__quote {
        bottom: 5%;
        margin: 0 10%;
        font-size: 1.5rem;
        line-height: 1.7rem;
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: 10px;
    }
    .main {
        margin: 5vh 3vw;
        align-items: flex-start;
    }
}

@media screen and (orientation: portrait) {
    html {
        font-size: 15px;
    }

    .main {
        margin: 5vh 3vw;
    }

    .main__column {
        width: 100%;
    }

    .name {
        text-align: center;
    }

    .info-item {
        margin-bottom: 4vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .info-article__description {
        margin-top: 3vh;
        text-align: justify;
    }

    .title {
        text-align: center;
    }

    .info-article:first-of-type {
        margin-top: 4vh;
    }

    .title_tech {
        margin-top: 1vh;
        text-align: center;
    }

    .info-article__list {
        margin-left: 3vw;
    }

    .main-image {
        margin-top: 7vh;
    }

    .main-image__quote {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

@media screen and (max-width: 575px) {
    .main__column {
        width: 100%;
    }

    .name {
        text-align: center;
    }

    .info-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .info-article__description {
        margin-top: 3vh;
        text-align: justify;
    }

    .title {
        margin-top: 7vh;
        text-align: center;
    }

    .title_tech {
        margin-top: 1vh;
    }

    .info-article__list {
        margin-left: 3vw;
    }

    .main-image__quote {
        bottom: 5%;
        margin: 0 10%;
        font-size: 2rem;
        line-height: 2.3rem;
    }
}
